In [1]:
import pandas as pd

In [3]:
ds=pd.read_csv("car.data")
ds.head(5)

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [5]:
ds.describe()

       vhigh vhigh.1     2   2.1 small   low  unacc
count   1727    1727  1727  1727  1727  1727   1727
unique     4       4     4     3     3     3      4
top     high    high     3     4   med   med  unacc
freq     432     432   432   576   576   576   1209

In [17]:
ds.columns=["cost","maintanance","variety","km/hr","capacity","rating","account"]

       cost maintanance variety km/hr capacity rating account
0     vhigh       vhigh       2     2    small    med   unacc
1     vhigh       vhigh       2     2    small   high   unacc
2     vhigh       vhigh       2     2      med    low   unacc
3     vhigh       vhigh       2     2      med    med   unacc
4     vhigh       vhigh       2     2      med   high   unacc
...     ...         ...     ...   ...      ...    ...     ...
1722    low         low   5more  more      med    med    good
1723    low         low   5more  more      med   high   vgood
1724    low         low   5more  more      big    low   unacc
1725    low         low   5more  more      big    med    good
1726    low         low   5more  more      big   high   vgood

[1727 rows x 7 columns]

In [23]:
ds['cost'].replace({'vhigh':1,'high':2,'med':3,'low':4},inplace=True)
ds['maintanance'].replace({'vhigh':1,'high':2,'med':3,'low':4},inplace=True)
ds["variety"].replace({"2": 1, "3": 2, "4": 3, "5more": 4}, inplace=True)
ds["km/hr"].replace({"2": 1, "4": 2, "more": 3}, inplace=True)
ds['capacity'].replace({'big':1,'med':2,'small':3,'more':4},inplace=True)
ds['rating'].replace({'high':1,'med':2,'low':3},inplace=True)
ds['account'].replace({'unacc':1,'acc':2,'good':3,'vgood':4},inplace=True)
ds.head()

   cost  maintanance  variety  km/hr  capacity  rating  account
0     1            1        1      1         3       2        1
1     1            1        1      1         3       1        1
2     1            1        1      1         2       3        1
3     1            1        1      1         2       2        1
4     1            1        1      1         2       1        1

In [22]:
ds.isna().sum()

cost           0
maintanance    0
variety        0
km/hr          0
capacity       0
rating         0
account        0
dtype: int64

In [88]:
X=ds.drop('account',axis=1)
y=ds[['account']]

In [73]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [74]:
X_train.shape

(1381, 6)

In [75]:
X_test.shape

(346, 6)

In [76]:
from sklearn import tree
model=tree.DecisionTreeClassifier()

In [77]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [78]:
y=model.predict(X_test)
y

array([1, 2, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 1, 2, 1, 4, 1, 2, 1, 1, 1, 1,
       4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 1, 1, 2, 1, 2, 3, 2, 1, 1,
       1, 3, 1, 1, 4, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 2,
       1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 2, 1, 2, 1, 3, 2, 3, 2, 1, 1,
       3, 1, 1, 2, 2, 3, 1, 1, 2, 1, 2, 1, 2, 1, 1, 1, 1, 2, 2, 4, 2, 4,
       3, 2, 1, 1, 1, 3, 1, 1, 1, 2, 1, 4, 1, 2, 1, 1, 1, 1, 1, 4, 1, 2,
       1, 1, 1, 2, 4, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 2, 1, 1, 2, 4, 2, 1, 1, 1, 1, 1, 2, 1, 1, 2, 3, 1, 1,
       1, 1, 1, 2, 1, 3, 3, 1, 3, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1,
       1, 2, 1, 1, 1, 2, 2, 1, 1, 1, 2, 2, 2, 1, 1, 1, 1, 1, 2, 2, 1, 1,
       4, 4, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1,
       1, 1, 1, 1, 2, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2,
       1, 1, 1, 1, 2, 1, 1, 1, 3, 2, 4, 1, 1, 2, 2, 1, 2, 2, 1, 1, 1, 1,
       4, 2, 1, 4, 1, 1, 1, 2, 1, 1, 1, 1, 4, 1, 2, 1, 1, 1, 1, 1, 1, 2,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 3, 1, 2,
       1, 1, 1, 1, 1, 2, 3, 1, 2, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [79]:
model.score(X_train,y_train)

1.0

In [80]:
model.score(X_test,y_test)

0.9739884393063584

In [85]:
from sklearn.metrics import confusion_matrix,classification_report
ypred=model.predict(X_test)
cm=confusion_matrix(y_test,ypred)
cm
report=classification_report(y_test,ypred)
print(report)

              precision    recall  f1-score   support

           1       1.00      0.99      0.99       239
           2       0.92      0.96      0.94        72
           3       0.93      0.88      0.90        16
           4       0.94      0.89      0.92        19

    accuracy                           0.97       346
   macro avg       0.95      0.93      0.94       346
weighted avg       0.97      0.97      0.97       346